/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 19, 2017, 9:14:33 AM
    Author     : awal
*/

div#mdl-detail-record .modal-header,
div#mdl-obat-record .modal-header,
div#mdl-tindakan-record .modal-header {
  background-color: #147;
  color: #efefff;
}
div#mdl-detail-record .modal-header img,
div#mdl-obat-record .modal-header img,
div#mdl-tindakan-record .modal-header img {
  width: 30px;
  height: 30px;
}
div#mdl-detail-record .modal-header>button.close,
div#mdl-obat-record .modal-header>button.close,
div#mdl-tindakan-record .modal-header>button.close {
  color: red;
  opacity: 0.5;
}
div#mdl-detail-record .modal-header>button.close:hover,
div#mdl-obat-record .modal-header>button.close:hover,
div#mdl-tindakan-record .modal-header>button.close:hover {
  opacity: 0.9;
  transform: scale(1.5);
}