/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 10, 2016, 5:56:26 PM
    Author     : awal
*/

.pagination>li>a {
  background-color: transparent;
  margin-left: 10px;
  border-color: #37b;
}
.pagination>li>a:hover {
  transform: scale(1.2);
}
.pagination>li.disabled>a {
  color: white;
  background-color: rgba(255,80,80,0.6);
}